ARKESTRATOR_PORT=8791
ARKESTRATOR_OWNER_ID=7260915527
ARKESTRATOR_OPENCLAW_SESSION_ID=3bd4f308-8e30-4bed-b9bb-04135e9f20a8
ARKESTRATOR_OPENCLAW_GROUP_ID=-1003920075284
# На production-хостинге задать секретом, не коммитить реальное значение:
ARKESTRATOR_BOT_TOKEN=
